In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
import warnings

warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('/home/student/mental-health-research-proj/student_mental_health.csv')

In [4]:
df.shape

(101, 11)

In [5]:
df.head()

,Timestamp,Choose_your_gender,Age,What_is_your_course,Your_current_year_of_Study,What_is_your_CGPA,Marital_status,Do_you_have_Depression,Do_you_have_Anxiety,Do_you_have_Panic_attack,Did_you_seek_any_specialist_for_a_treatment
0,8/7/2020 12:02,1,18.0,Engineering,1,3,0,1,0,1,0
1,8/7/2020 12:04,0,21.0,Islamic education,2,3,0,0,1,0,0
2,8/7/2020 12:05,0,19.0,BIT,1,3,0,1,1,1,0
3,8/7/2020 12:06,1,22.0,Laws,3,3,1,1,0,0,0
4,8/7/2020 12:13,0,23.0,Mathemathics,4,3,0,0,0,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 11 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Timestamp                                    101 non-null    object
 1   Choose_your_gender                           101 non-null    int64
 2   Age                                          100 non-null    float64
 3   What_is_your_course                          101 non-null    object
 4   Your_current_year_of_Study                   101 non-null    int64
 5   What_is_your_CGPA                            101 non-null    int64
 6   Marital_status                               101 non-null    int64
 7   Do_you_have_Depression                       101 non-null    int64
 8   Do_you_have_Anxiety                          101 non-null    int64
 9   Do_you_have_Panic_attack                     101 non-null    int64
 10  Did_you_seek_any_specialist_for_a_treatment  101 non-null    int64
dtypes: float64(1), int64(8), object(2)
memory usage: 8.8+ KB

In [7]:
df.isnull().sum()

Timestamp                                      0
Choose_your_gender                             0
Age                                            1
What_is_your_course                            0
Your_current_year_of_Study                     0
What_is_your_CGPA                              0
Marital_status                                 0
Do_you_have_Depression                         0
Do_you_have_Anxiety                            0
Do_you_have_Panic_attack                       0
Did_you_seek_any_specialist_for_a_treatment    0
dtype: int64

In [8]:
df.describe()

,Choose_your_gender,Age,Your_current_year_of_Study,What_is_your_CGPA,Marital_status,Do_you_have_Depression,Do_you_have_Anxiety,Do_you_have_Panic_attack,Did_you_seek_any_specialist_for_a_treatment
count,101.000000,100.00000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000
mean,0.742574,20.53000,1.970297,3.277228,0.158416,0.346535,0.336634,0.326733,0.059406
std,0.439397,2.49628,0.994540,0.939349,0.366952,0.478239,0.474915,0.471358,0.237562
min,0.000000,18.00000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,18.00000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,19.00000,2.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,23.00000,3.000000,4.000000,0.000000,1.000000,1.000000,1.000000,0.000000
max,1.000000,24.00000,4.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
df['status_type'].unique()

KeyError: 'status_type'

In [ ]:
len(df['status_type'].unique())